body {
    background-image: url('../pictures/donut on plate.png');
}

footer {
    padding: 20px 0;
    border-top: 5px solid;
    /*change the footer or remove it*/
}

.btn-primary {
    background-color: white;
    border-color: black;
}

.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
